spring:
  application:
    name: OTP-Generator
  r2dbc:
    url: r2dbc:h2:mem:///otpdb;DB_CLOSE_DELAY=-1
    username: sa
    password:

  datasource:
    url: jdbc:h2:mem:otpdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    
  sql:
    init:
      mode: always





  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.springframework.r2dbc: DEBUG


server:
  port: 8081

